body {
  background: #eee;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333;
}

header {
  display: block;
  width:100%;
  text-align: center;
}

h3 {
	text-align: center;
}
.block {
	display: block;
	height: 50px;
}

#waitText {
	font-weight: 700;
	color: #393;
}

#logo {
  margin: 20px auto;
  width: auto;
  height: auto;
  display: inline-block;
}

#text {
  background: #fff;
  width: 50%;
  height: 350px;
  float: left;
}

#table {
  background: #fff;
  width: 50%;
  height: 350px;
  float: left;
}

table {
	width: 100%;
}
td {
	height: 20px;
}

#output {
	background: #fff;
	width: 100%;
	display: block;
}

#container {
  padding: 20px;
  background: #fff;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
}


/* ON/OFF-switch */

input.take-measurement-button:empty
{
	margin-left: -999px;
}

input.take-measurement-button:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.take-measurement-button:empty ~ label:before, 
input.take-measurement-button:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.take-measurement-button:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.take-measurement-button:checked ~ label:before
{
	background-color: #393;
}

input.take-measurement-button:checked ~ label:after
{
	margin-left: 2em;
}